version: "3.7"

services:
  # envoygateway:
  #   container_name: envoygateway
  #   image: ahmedalaa107/envoy:latest
  #   ports:
  #     - "9901:9901"
  #     - "10000:10000"
  #     - "10101:10101"
  #   volumes:
  #     - ./Envoy/envoy.yaml:/etc/envoy/envoy.yaml
  #     - ./Envoy/https.crt:/etc/ssl/certs/https.crt
  #     - ./Envoy/key.pem:/etc/ssl/certs/key.pem

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    environment:
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports:
      - "9200:9200"

  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:7.9.2
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"

  # mongodb:
  #   image: mongodb/mongodb-community-server:latest
  #   container_name: mongodb
  #   volumes:
  #     - ./data:/data/db
  #   ports:
  #     - "27017:27017"

  basicdata:
    container_name: basicdata
    image: ahmedalaa107/basicdata:latest
    ports:
      - 5002:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=basicdataConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_Lookups;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  orghierarchy:
    container_name: orghierarchy
    image: ahmedalaa107/orghierarchy:latest
    ports:
      - 5003:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=OrgConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_OrgHierarchy;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  workspace:
    container_name: workspace
    image: ahmedalaa107/workspace:latest
    ports:
      - 5004:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=workspaceConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_Workspace;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  news:
    container_name: news
    image: ahmedalaa107/news:latest
    ports:
      - 5005:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=newsConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_News;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/
  committee:
    container_name: committee
    image: ahmedalaa107/committee:latest
    ports:
      - 5006:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=committeesConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_Committee;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  usermanagement:
    container_name: usermanagement
    image: ahmedalaa107/usermanagement:latest
    ports:
      - 5007:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=usermanagementConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_UserManagement;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  taskmanagement:
    container_name: taskmanagement
    image: ahmedalaa107/taskmanagement:latest

    ports:
      - 5008:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=taskmanagementConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_TaskManagement;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  blog:
    container_name: blog
    image: ahmedalaa107/blog:latest

    ports:
      - 5009:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=blogConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_Blog;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  ideabank:
    container_name: ideabank
    image: ahmedalaa107/ideabank:latest

    ports:
      - 5010:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=ideabankConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_IdeaBank;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  challenges:
    container_name: challenges
    image: ahmedalaa107/challenges:latest

    ports:
      - 5011:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - BOOTSTRAP_SERVER=kafka:9092
      - GROUP_ID=challengeConsumer
      - ENABLE_AUTO_OFFSET_STORE=false
      - ENABLE_AUTO_COMMIT=true
      - STATISTICS_INTERVAL_MS=5000
      - SESSION_TIMEOUT_MS=6000
      - AUTO_OFFSET_RESET=Earliest
      - ENABLE_PARTITION_EOF=true
      - PARTITION_ASSIGNMENT_STRATEGY=CooperativeSticky
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings=Server=10.21.10.160;Initial Catalog=Rega_Challenge;User ID=SVC_SmartView;Password=SVC@123456;Integrated Security=false;MultipleActiveResultSets=True;TrustServerCertificate=True;
    volumes:
      - ./wwwroot/:/app/wwwroot/

  zookeeper:
    image: bitnami/zookeeper
    restart: always
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: bitnami/kafka
    ports:
      - "9092:9092"
    restart: always
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
